<div class="mt-4">
    <h3>My courses </h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">videoId</th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.videoId}}</td>
                
                <td>
                    <a href="/courses/edit/{{this._id}}" class="btn btn-link">Edit</a>
                    <a href="" class="btn btn-link">Remove</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
       
    </table>
</div>