<form name="container-form" class="mt-4" method="post" action="/courses/action-form">
  <div>
    <h3>My courses </h3>
    {{sort.enabled}}
    {{!-- {{#if deletedCount}} --}}
    <a href="/me/bin/courses">Bin({{deletedCount}})</a>
    {{!-- {{/if}} --}}
  </div>
  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkboxAll">
      <label class="form-check-label" for="checkboxAll">
       Check All
      </label>
    </div>
    <select class="form-control form-control-sm checkbox-all-options" name="actions" required>
      <option value="">Open this select menu</option>
      <option value="delete">Delete</option>
    </select>
    <button class="btn btn-primary btn-sm disabled" id="checked-action">Apply</button>
  </div>
  
  <table class="table mt-4">
      <thead>
          <tr>
              <th scope="col">Checkbox</th>
              <th scope="col">#</th>
              <th scope="col">Name
                {{{sortable 'name' sort}}}
                {{!-- Ở chỗ này sẽ vi phạm bảo mật, hacker có thể truyền dữ liệu vào 
                thong qua url --}}
              </th>
              <th scope="col">Description
                {{{sortable 'description' sort}}}
              </th>

              <th scope="col">videoId</th>
              <th scope="col"></th>
          </tr>
      </thead>
      
      <tbody>
          {{#each courses}}
          <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="coursesIds" value="{{this._id}}" >                 
                </div>
              </td>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.description}}</td>
              <td>{{this.videoId}}</td>
              
              <td>
                  <a href="/courses/edit/{{this._id}}" class="btn btn-link">Edit</a>
                  <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course">Remove</a>
              </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="5" class="text-center">
              You have not uploaded any courses yet
              <a href="/courses/create">Upload Course</a>
            </td>
          </tr>
          {{/each}}
      </tbody>
      
  </table>
</form>

{{!-- confirm --}}
<div id="delete-course" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure to delete this course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Confirm</button>
        <button  type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{!-- Delete hidden form --}}
<form method="post" name="delete-form">
</form>
<script>
    //giup cho cac thu vien duoc nap vao bo nho het roi moi thuc hien js
    //khi no tải xong hết rồi thì nó mới chạy function
    document.addEventListener('DOMContentLoaded',function(){
        var courseId;
        //var containerForm=document.forms['container-form'];
        var containerForm=$('form[name="container-form"]')
        var deleteForm=document.forms['delete-form'];
        var checkboxAll=$('#checkboxAll');
        var courseItemChecked=$('input[name="coursesIds[]"]');
        var checkedAction=$('#checked-action')
        $('#delete-course').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes
        courseId=id;
        });
        var btnDelete=document.getElementById('btn-delete-course')
        console.log(btnDelete)
        btnDelete.onclick=function(){
            deleteForm.action='/courses/delete/'+courseId+'?_method=DELETE';
            deleteForm.submit();
        }
        //checkboxall clicked
        checkboxAll.change(function(){
          var isCheckedAll=($(this).prop('checked'));
          courseItemChecked.prop('checked',isCheckedAll);
          renderCheckAllButton();
        });
        //coursesItemCheckClick changed
        courseItemChecked.change(function(){
          var isCheckedAll=courseItemChecked.length==$('input[name="coursesIds[]"]:checked').length;
          checkboxAll.prop('checked',isCheckedAll);
          renderCheckAllButton();
        })
        //check submiteAction is checked
       //kiem tra su kien submit form
       //hoac co the thay cai event nay bằng attribute disable trong button
        containerForm.on('submit',function(event){
          var isSubmittable=!checkedAction.hasClass('disabled');
          if(!isSubmittable){
            event.preventDefault();
            
          }
        })

        //enable Execuse btn action
        function renderCheckAllButton(){
          var isChecked=$('input[name="coursesIds[]"]:checked').length;
          if(isChecked>0){
            checkedAction.removeClass('disabled');
          }
          else{
            checkedAction.addClass('disabled');
          }
        }
        
    })

</script>